<?xml version="1.0" encoding="utf-8" ?>
<configuration>

 
  <configSections>
   
    <!--Setup OpenFish Sections -->
    <sectionGroup name="Asus">
      <sectionGroup name="Default">
        <section name="Base" type="System.Configuration.NameValueSectionHandler"/>
        <sectionGroup name="DBCoonection">
          <section name="DBConnString" type="System.Configuration.NameValueSectionHandler"/>
          <section name="DBType" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
      </sectionGroup>
      <sectionGroup name="BinDevelopMent">
        <section name="Base" type="System.Configuration.NameValueSectionHandler"/>
        <sectionGroup name="DBCoonection">
          <section name="DBConnString" type="System.Configuration.NameValueSectionHandler"/>
          <section name="DBType" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

    <!--Log4Net 區塊設定 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
  </configSections>

  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="c:\\NPI\\LogFile\\batch\\webapp-log.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\NPI\\LogFile\\batch\\Program\\log-${Program}\\${Program}log_${TodayDate}.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level %logger  - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender2" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\NPI\\LogFile\\batch\\Program\\log-${Program}\\${Program}log_${TodayDate}_2.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender3" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\NPI\\target\\changelog\\Mujilog_${TodayDate}.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="RollingLogFileAppender2"/>
      <appender-ref ref="Console"/>
    </root>
    <logger name="ConsoleApp.LoggingExample">

      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
    <logger name="BatchLibrary.GenerateHistoryLogBatch">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender3" />
    </logger>
  </log4net>

  <appSettings>

    <add key="ECOM_Ora" value="Data Source=ETEAMQC1;User Id=Scm;Password=scmd"/>

    <add key="ECOM_Ole" value="Provider=OraOLEDB.Oracle;Data Source=ETEAMQC1;User ID=Scm;Password=scmd"/>

    <!--<add key="ECOM_ODBC" value="DSN=;User Id=;Password= "/>-->

    <add key="ECOM_IDbConnection" value="Ora"/>


    <add key="ERP_DB" value="TIPTOP"/>

    <add key="ERP_IDbConnection" value="ODBC"/>

    <!-- TIPTOP -->
     
    <!--<add key="ERP_Ole" value="Provider=Ifxoledbc.2;Password=asusepo;Persist Security Info=True;User ID=pepo1;Data Source=misgw_inf"/>-->
    
    
    <add key="ERP_ODBC" value="DSN=db3;UID=pepo1;PWD=kosu!957;DATABASE=ds1;"/>

  </appSettings>
  
  <Asus>
    <Default>
      <Base>
        <add key="Company" value="ASUSTECH"/>
      </Base>
      <DBCoonection>
        <DBConnString>
          <add key="UserDB" value="Provider=OraOLEDB.Oracle;Data Source=ETEAMQC1;User ID=Scm;Password=scmd"/>
          <add key="NPIDB" value="Provider=OraOLEDB.Oracle;Data Source=TP-LOTDB-01.CORPNET.ASUS;User ID=shinewave;Password=shinewave"/>
          <add key="TipTopDB" value="DSN=db3;UID=pepo1;PWD=kosu!957;DATABASE=ds1;"/>
        </DBConnString>
        <DBType>
          <add key="UserDB_Type" value="OleDb"/>
          <add key="UserDB_Owner" value="Scm"/>
          
          <add key="NPIDB_Type" value="OleDb"/>
           <add key="NPIDB_Owner" value="shinewave"/>
          
          <add key="TipTopDB_Type" value="ODBC"/>
           <add key="TipTopDB_Owner" value="pepo1"/>
        </DBType>
      </DBCoonection>
    </Default>
    <BinDevelopMent>
      <Base>
        <add key="Company" value="ASUSTECH"/>
      </Base>
      <DBCoonection>
        <DBConnString>
          <add key="UserDB" value="Provider=OraOLEDB.Oracle;Data Source=ETEAMQC1;User ID=Scm;Password=scmd"/>
          <add key="NPIDB" value="Provider=OraOLEDB.Oracle;Data Source=TP-LOTDB-01.CORPNET.ASUS;User ID=shinewave;Password=shinewave"/>
          <add key="TipTopDB" value="DSN=db3;UID=pepo1;PWD=kosu!957;DATABASE=ds1;"/>
        </DBConnString>
        <DBType>
          <add key="UserDB_Type" value="OleDb"/>
          <add key="UserDB_Owner" value="Scm"/>

          <add key="NPIDB_Type" value="OleDb"/>
          <add key="NPIDB_Owner" value="shinewave"/>

          <add key="TipTopDB_Type" value="ODBC"/>
          <add key="TipTopDB_Owner" value="pepo1"/>
        </DBType>
      </DBCoonection>
    </BinDevelopMent>
  </Asus>


  
  

</configuration>