<?xml version="1.0"?>

<configuration>
  <!-- 加入URL Rewriter 機制 -->
  <configSections>
    <section name="rewriter"  type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>

  <system.web>
    <pages theme="DocTheme"></pages>
    <httpModules>
      <!--加入 URL Rewriter Http Module -->
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter" />
    </httpModules>

      </system.web>

  <!-- Rewriter Tags Rule-->
  <rewriter>
    <rewrite url="/doc/(.+).aspx" to="/default.aspx?tag=$1" />
  </rewriter>
    
</configuration>
